.container {
  max-width: 1200px;
  margin: 0 auto;
  font-size: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.complainCard {
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--card-bg-color);
}

.complainTitle {
  font-size: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.complainMessage {
  margin-bottom: 0.5rem;
}

.userInfo {
  margin-bottom: 0.5rem;
  font-style: italic;
}

.link {
  text-decoration: none;
  color: #3b82f6;
  transition: text-decoration 0.2s;

  &:hover {
    text-decoration: underline;
  }
}

.noComplains {
  text-align: center;
  color: rgb(51, 51, 51);
  margin: 2rem 0;
}