.previewImages {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.previewImage {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}

.formTitle {
  font-weight: bold;
  font-size: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
}

.formGroup {
  display: flex;
  gap: 5px;
  font-size: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);

  label {
    display: block;
  }
}

.formGroupPerson {
  display: flex;
  gap: 5px;
  font-size: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
  flex-direction: column;
  
  label {
    display: block;
  }
}

.attentionText {
  font-size: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
  color: var(--text-color);
  text-align: center;
}