.standardText {
  font-size: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
}

.ratingInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.reviewTextarea {
  width: 100%;
  resize: none;
  padding: 10px;
  border: 1px solid rgb(173, 193, 120);
  border-radius: 4px;
  font-family: inherit;
  font-size: clamp(0.75rem, 0.706rem + 0.1878vw, 0.875rem);
  background-color: var(--input-bg-color);
  color: var(--text-color);

  &::placeholder {
    color: var(--text-color);
  }
}