.rent-book-page {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;

  .error {
    color: #e74c3c;
    text-align: center;
    padding: 1rem;
    background-color: #fadbd8;
    border-radius: 4px;
    margin-bottom: 1rem;
  }
}

.book_top {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 15px;
}

.book_bottom {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
  margin-top: 15px;

  grid-template-areas: "bookInfo ownerInfo";

  @media (max-width: 530px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "ownerInfo"
      "bookInfo";

  }
}

.bookMainInfo {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.bookInfoHeader {
  display: flex;
  flex-direction: column;
  font-size: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
  width: 100%;
  gap: 5px;
  justify-content: space-between;

  &Top {
    display: flex;
    justify-content: space-between;

    &Type {
      font-weight: bold;
      text-transform: uppercase;
    }

    &Age {
      font-weight: bold;
    }
  }

  &Author {
    text-decoration: underline;
  }
}

.actions {
  display: flex;
  gap: 20px;
  align-items: center;
}
.bookPrice {
  display: flex;
  gap: 5px;
}

.boldText {
  font-weight: bold;
}

.categoryName {
  text-transform: uppercase;
  font-weight: bold;
  font-size: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
}

.normalText {
  font-weight: normal;
}

.aboutBook {
  display: flex;
  flex-direction: column;
  gap: 5px;
  grid-area: bookInfo;
  font-size: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
  &Title {
    font-weight: bold;
    text-transform: uppercase;
  }

  &MainInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 15px;

    &Item {
      display: flex;
      gap: 5px;
    }
  }

  &Info {
    display: flex;
    gap: 5px;
  }
}

.rating,
.owner,
.review-header {
  display: flex;
  gap: 5px;
}

.aboutOwner {
  grid-area: ownerInfo;
}

@media screen and (max-width: 1024px) {
  .book_top {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 530px) {
  .book_top {
    grid-template-columns: 1fr;
  }
}
