.rent-book-page {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: rgb(51, 51, 51);
  flex: 1;

  .error {
    color: #e74c3c;
    text-align: center;
    padding: 1rem;
    background-color: #fadbd8;
    border-radius: 4px;
    margin-bottom: 1rem;
  }
}

.book_top {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.book_bottom {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 15px;

  grid-template-areas: "bookInfo reviewsInfo";

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "bookInfo"
      "reviewsInfo";
  }
}

.bookMainInfo {
  display: flex;
  gap: 1rem;
  width: 100%;

  @media screen and (max-width: 530px) {
    flex-direction: column;
    
  }
}

.bookAuthorAndTitle {
  display: flex;
  font-size: clamp(1.25rem, 0.9859rem + 1.1268vw, 2rem);
  width: 100%;
  margin-bottom: 25px;
  font-weight: bold;
  justify-content: space-between;
}

.bookInfoHeader {
  display: flex;
  flex-direction: column;
  font-size: clamp(1.125rem, 1.037rem + 0.3756vw, 1.375rem);
  width: 100%;
  gap: 5px;
  justify-content: space-between;

  &Top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &Type {
      font-weight: bold;
      text-transform: uppercase;
      font-size: clamp(1.25rem, 0.9859rem + 1.1268vw, 2rem);
    }

    &Age {
      font-weight: bold;
      font-size: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    &Left {
      display: flex;
      gap: 10px;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  &Bottom {
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
  }
}

.actions {
  display: flex;
  gap: 20px;
  align-items: center;
}

.boldText {
  font-weight: bold;
  font-size: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
}

.price {
  color: rgb(173, 193, 120);
  font-size: clamp(1.25rem, 0.9859rem + 1.1268vw, 2rem);
}

.categoryName {
  font-weight: bold;
  font-size: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
}

.normalText {
  font-weight: normal;
  font-size: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
}

.aboutBook {
  display: flex;
  flex-direction: column;
  gap: 5px;
  grid-area: bookInfo;
  font-size: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
  
  &Title {
    font-weight: bold;
    font-size: inherit;
    font-size: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
  }

  &MainInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 15px;

    &Item {
      display: flex;
      gap: 5px;
      font-size: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
    }
  }

  &Info {
    display: flex;
    gap: 5px;
    align-items: center;
  }
}

.rating {
  align-items: center;
  display: flex;
  gap: 5px;
  font-size: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
}

.review-header {
  display: flex;
  gap: 5px;
  font-size: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
}

.owner {
  display: flex;
  gap: 5px;
}

.ownerInfo {
  padding-top: 25px;
  font-size: clamp(1.125rem, 1.037rem + 0.3756vw, 1.375rem);
  display: flex;
  flex-direction: column;
  gap: 5px;

  @media screen and (max-width: 1024px) {
    padding-top: 0;
  }
}

.reviews-list {
  list-style: none;
  padding: 0;
  font-size: clamp(1.125rem, 1.037rem + 0.3756vw, 1.375rem);
  margin-top: 5px;
  margin-left: 15px;
}

.review-item {
  margin-bottom: 10px;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.review-author {
  font-weight: bold;
  text-align: end;
  font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
}

.review-rating {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
}

.review-content {
  margin-top: 0.5rem;
  font-size: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
}

.complainButton {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.noReviews {
  margin: 5px 0 0 15px;
}