.container {
  font-size: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
  color: var(--text-color);
  padding: 0 1rem;
  flex: 1;
}

.title {
  font-size: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem);
  text-align: center;
  margin-bottom: 15px;
}

.annotation {
  margin-bottom: 10px;
}

.categoryTitle {
  font-size: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
  margin: 10px 0;
  font-weight: normal;
}

.categoryText {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: justify;
}

.marginLeft {
  margin-left: 10px;
}

.subparagraph {
  margin-left: 20px;
}

.accentText {
  font-weight: bold;
  font-size: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
  text-align: center;
  margin-top: 10px;
}

.attention {
  margin-top: 15px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 5px;
}