.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.map {
  width: 100%;
  height: 400px;
}